#####  Import the required libraries

In [41]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA

#####  Read the data from train.csv

In [42]:
# read data from train dataset
train = pd.read_csv('train.csv')
# view and see the data
print('Size of training set: {} rows and {} columns'
      .format(*df_train.shape))
# display data 
train.head(1)

Size of training set: 4209 rows and 378 columns

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
5,18,92.93,t,b,e,c,d,g,h,s,...,0,0,1,0,0,0,0,0,0,0
6,24,128.76,al,r,e,f,d,f,h,s,...,0,0,0,0,0,0,0,0,0,0
7,25,91.91,o,l,as,f,d,f,j,a,...,0,0,0,0,0,0,0,0,0,0
8,27,108.67,w,s,as,e,d,f,i,h,...,1,0,0,0,0,0,0,0,0,0
9,30,126.99,j,b,aq,c,d,f,a,e,...,0,0,1,0,0,0,0,0,0,0

#####  Understand the data types

In [43]:
# iterate through all the columns which has X 

colums = [a for a in train.columns if 'X' in a]

print('Number of features: {}'.format(len(colums)))

print('Feature types:')

train[colums].dtypes.value_counts()

Number of features: 376
Feature types:

int64     368
object      8
dtype: int64

#####  Count the data in each of the columns

In [44]:
counts = [[], [], []]

for c in colums:

    typ = train[c].dtype

    uniq = len(np.unique(train[c]))

    if uniq == 1:

        counts[0].append(c)

    elif uniq == 2 and typ == np.int64:

        counts[1].append(c)

    else:

        counts[2].append(c)



print('Constant features: {} Binary features: {} Categorical features: {}\n'

      .format(*[len(c) for c in counts]))

print('Constant features:', counts[0])

print('Categorical features:', counts[2])

Constant features: 12 Binary features: 356 Categorical features: 8

Constant features: ['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290', 'X293', 'X297', 'X330', 'X347']
Categorical features: ['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

##### Read the test.csv data

In [45]:
test = pd.read_csv('test.csv')

# remove columns ID and Y from the data as they are not used for learning

usable_columns = list(set(train.columns) - set(['ID', 'y']))

y_train = train['y'].values

id_test = test['ID'].values

x_train = train[usable_columns]

x_test = test[usable_columns]

#####  Check for null and unique values for both test and train sets

In [46]:
def check_missing_values(df):

    if df.isnull().any().any():

        print("There are missing values in the dataframe")

    else:

        print("There are no missing values in the dataframe")

check_missing_values(train)

check_missing_values(test)

There are no missing values in the dataframe
There are no missing values in the dataframe

##### If for any column, the variance is equal to zero,

In [47]:
# then you need to remove those variable(s).
# Apply label encoder

for column in usable_columns:

    cardinality = len(np.unique(x_train[column]))

    if cardinality == 1:

        x_train.drop(column, axis=1) # Column with only one 

        # value is useless so we drop it

        x_test.drop(column, axis=1)

    if cardinality > 2: # Column is categorical

        mapper = lambda x: sum([ord(digit) for digit in x])

        x_train[column] = x_train[column].apply(mapper)

        x_test[column] = x_test[column].apply(mapper)

x_train.head()

C:\Users\454751\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\454751\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,X100,X268,X15,X336,X1,X382,X171,X60,X120,X353,...,X103,X178,X164,X267,X81,X339,X233,X317,X331,X352
0,0,0,0,0,118,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,116,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,119,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,116,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,118,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

#####  Make sure the data is now changed into numericals

In [48]:
print('Feature types:')
x_train[cols].dtypes.value_counts()

Feature types:

int64    376
dtype: int64

In [49]:
# the prediction output
trainY = train['y'].values

##### dimensionality reduction

In [50]:
# Linear dimensionality reduction using Singular Value Decomposition of 

# the data to project it to a lower dimensional space.

n_comp = 12

pca = PCA(n_components=n_comp, random_state=420)

pca2_results_train = pca.fit_transform(x_train)

pca2_results_test = pca.transform(x_test)

##### Training using xgboost

In [51]:
import xgboost as xgb

from sklearn.metrics import r2_score

from sklearn.model_selection import train_test_split



x_train, x_valid, y_train, y_valid = train_test_split(

        pca2_results_train, 

        y_train, test_size=0.2, 

        random_state=4242)



d_train = xgb.DMatrix(x_train, label=y_train)

d_valid = xgb.DMatrix(x_valid, label=y_valid)

#d_test = xgb.DMatrix(x_test)

d_test = xgb.DMatrix(pca2_results_test)



params = {}

params['objective'] = 'reg:linear'

params['eta'] = 0.02

params['max_depth'] = 4



def xgb_r2_score(preds, dtrain):

    labels = dtrain.get_label()

    return 'r2', r2_score(labels, preds)



watchlist = [(d_train, 'train'), (d_valid, 'valid')]



clf = xgb.train(params, d_train, 

                1000, watchlist, early_stopping_rounds=50, 

                feval=xgb_r2_score, maximize=True, verbose_eval=10)

[17:50:46] WARNING: src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[0]	train-rmse:99.1483	valid-rmse:98.263	train-r2:-58.353	valid-r2:-67.6375
Multiple eval metrics have been passed: 'valid-r2' will be used for early stopping.

Will train until valid-r2 hasn't improved in 50 rounds.
[10]	train-rmse:81.2765	valid-rmse:80.3643	train-r2:-38.8843	valid-r2:-44.9101
[20]	train-rmse:66.7161	valid-rmse:65.7733	train-r2:-25.874	valid-r2:-29.7526
[30]	train-rmse:54.8691	valid-rmse:53.891	train-r2:-17.1772	valid-r2:-19.645
[40]	train-rmse:45.2456	valid-rmse:44.2221	train-r2:-11.3602	valid-r2:-12.9015
[50]	train-rmse:37.4474	valid-rmse:36.3774	train-r2:-7.46671	valid-r2:-8.40687
[60]	train-rmse:31.1511	valid-rmse:30.0174	train-r2:-4.85891	valid-r2:-5.40515
[70]	train-rmse:26.0869	valid-rmse:24.907	train-r2:-3.10882	valid-r2:-3.40987
[80]	train-rmse:22.0489	valid-rmse:20.8233	train-r2:-1.93525	valid-r2:-2.08234
[90]	train-rmse:18.8519	valid-rmse:17.5962	train-r2:-1.14576	valid-r2:-1.20099
[100]	train-rmse:16.3426	valid-rmse:15.0764	train-r2:-0.612562	valid-r2:-0.615756
[110]	train-rmse:14.4031	valid-rmse:13.1402	train-r2:-0.252519	valid-r2:-0.227407
[120]	train-rmse:12.9298	valid-rmse:11.6795	train-r2:-0.009379	valid-r2:0.030315
[130]	train-rmse:11.8165	valid-rmse:10.6075	train-r2:0.156953	valid-r2:0.200148
[140]	train-rmse:10.9823	valid-rmse:9.84455	train-r2:0.271782	valid-r2:0.311072
[150]	train-rmse:10.379	valid-rmse:9.30862	train-r2:0.349602	valid-r2:0.38404
[160]	train-rmse:9.93246	valid-rmse:8.94992	train-r2:0.404358	valid-r2:0.430597
[170]	train-rmse:9.59899	valid-rmse:8.7065	train-r2:0.443682	valid-r2:0.461148
[180]	train-rmse:9.35346	valid-rmse:8.54599	train-r2:0.471779	valid-r2:0.480834
[190]	train-rmse:9.17094	valid-rmse:8.44354	train-r2:0.492193	valid-r2:0.493207
[200]	train-rmse:9.02609	valid-rmse:8.37929	train-r2:0.508107	valid-r2:0.50089
[210]	train-rmse:8.91673	valid-rmse:8.34501	train-r2:0.519954	valid-r2:0.504966
[220]	train-rmse:8.83747	valid-rmse:8.32284	train-r2:0.528451	valid-r2:0.507592
[230]	train-rmse:8.77766	valid-rmse:8.30787	train-r2:0.534812	valid-r2:0.509362
[240]	train-rmse:8.72502	valid-rmse:8.30206	train-r2:0.540374	valid-r2:0.510047
[250]	train-rmse:8.67801	valid-rmse:8.2973	train-r2:0.545314	valid-r2:0.51061
[260]	train-rmse:8.64164	valid-rmse:8.29527	train-r2:0.549117	valid-r2:0.510849
[270]	train-rmse:8.61122	valid-rmse:8.29347	train-r2:0.552286	valid-r2:0.511062
[280]	train-rmse:8.58582	valid-rmse:8.29541	train-r2:0.554923	valid-r2:0.510832
[290]	train-rmse:8.55923	valid-rmse:8.29547	train-r2:0.557676	valid-r2:0.510826
[300]	train-rmse:8.53497	valid-rmse:8.29238	train-r2:0.56018	valid-r2:0.51119
[310]	train-rmse:8.50873	valid-rmse:8.29387	train-r2:0.56288	valid-r2:0.511014
[320]	train-rmse:8.48692	valid-rmse:8.28984	train-r2:0.565118	valid-r2:0.511489
[330]	train-rmse:8.45984	valid-rmse:8.2852	train-r2:0.567889	valid-r2:0.512036
[340]	train-rmse:8.43619	valid-rmse:8.27937	train-r2:0.570301	valid-r2:0.512722
[350]	train-rmse:8.40983	valid-rmse:8.27822	train-r2:0.572983	valid-r2:0.512858
[360]	train-rmse:8.38296	valid-rmse:8.27424	train-r2:0.575707	valid-r2:0.513326
[370]	train-rmse:8.35942	valid-rmse:8.27293	train-r2:0.578086	valid-r2:0.51348
[380]	train-rmse:8.33635	valid-rmse:8.26946	train-r2:0.580412	valid-r2:0.513889
[390]	train-rmse:8.30345	valid-rmse:8.2661	train-r2:0.583717	valid-r2:0.514283
[400]	train-rmse:8.27701	valid-rmse:8.26343	train-r2:0.586364	valid-r2:0.514597
[410]	train-rmse:8.25119	valid-rmse:8.26134	train-r2:0.588941	valid-r2:0.514842
[420]	train-rmse:8.2206	valid-rmse:8.26042	train-r2:0.591983	valid-r2:0.51495
[430]	train-rmse:8.19848	valid-rmse:8.25867	train-r2:0.594176	valid-r2:0.515156
[440]	train-rmse:8.17191	valid-rmse:8.25938	train-r2:0.596802	valid-r2:0.515072
[450]	train-rmse:8.14539	valid-rmse:8.26048	train-r2:0.599414	valid-r2:0.514944
[460]	train-rmse:8.12163	valid-rmse:8.25944	train-r2:0.601748	valid-r2:0.515066
[470]	train-rmse:8.10056	valid-rmse:8.25906	train-r2:0.603812	valid-r2:0.515109
[480]	train-rmse:8.07823	valid-rmse:8.25768	train-r2:0.605993	valid-r2:0.515272
[490]	train-rmse:8.05236	valid-rmse:8.25841	train-r2:0.608512	valid-r2:0.515187
[500]	train-rmse:8.03392	valid-rmse:8.25856	train-r2:0.610304	valid-r2:0.515169
[510]	train-rmse:8.01537	valid-rmse:8.25749	train-r2:0.612101	valid-r2:0.515294
[520]	train-rmse:7.98808	valid-rmse:8.26077	train-r2:0.614738	valid-r2:0.51491
[530]	train-rmse:7.96334	valid-rmse:8.2585	train-r2:0.61712	valid-r2:0.515176
[540]	train-rmse:7.94352	valid-rmse:8.26074	train-r2:0.619024	valid-r2:0.514913
Stopping. Best iteration:
[495]	train-rmse:8.04165	valid-rmse:8.25717	train-r2:0.609553	valid-r2:0.515332

##### Predict your test_df values using xgboost

In [52]:
p_test = clf.predict(d_test)

xboot = pd.DataFrame()

xboot['ID'] = id_test

xboot['y'] = p_test

xboot.to_csv('xgb.csv', index=False)

xboot.head()

   ID           y
0   1   82.669754
1   2   97.801483
2   3   83.266647
3   4   77.185074
4   5  112.756783